include README.md
include LICENSE
include pyproject.toml
include setup.py
include CMakeLists.txt

recursive-include bindings *.h *.cpp
recursive-include lib *.h *.cpp *.hpp
recursive-include stalib *.py
recursive-include tests *.py
